extends layout

block content
	h1 #{title}: #{book.title}
	
	if bookinstance.length
	
		p #[string Delete the following books instance before attemping to delete this book.]
		
		div(style='magin-left:20px;margin-top:20px')
		
			h4 Books instance
			
			dl
			each instance in bookinstance
				dt
					a(href=instance.url) #{instance.imprint}
				dd #{instance.status} due back: #{instance.due_back}
				
				
	else
		p Do you really want to delete this Book?
		
		form(method='POST' action='')
			div.form-group
				input#authorid.form-control(type='hidden', name='bookid', required='true', value=book._id)
				
			button.btn.btn-primary(type='submit') Delete